<h1>Hello Pards</h1>

<p>Who scored more goals in the premier league?</p>
  <div class='buttons'>
    <div  class='btn btn-player' id='player_1'>
      <% @player_1 = random_player %>
      <%= cl_image_tag(@player_1.photos.first.key)%>
        <div class='btn btn-nice'>
          <%="#{@player_1.name}"%>
        </div>
    </div>
      <p>or</p>
    <div class='btn btn-player' id='player_2'>
      <% @player_2 = random_player %>
      <%= cl_image_tag(@player_2.photos.first.key)%>
        <div class='btn btn-nice'>
          <%="#{@player_2.name}"%>
        </div>
    </div>
  </div>
  <div id="counter">
    <%= @counter = 0 %>
  </div>

  <% @winner = compare_players(@player_1, @player_2) %>

  <script>
    let player1Button = document.getElementById("player_1");
    let player2Button = document.getElementById("player_2");
    let correctChoice = '<%= @winner %>';
    let counter = '<%= @counter %>';

      player1Button.addEventListener("click", (event) => {
          console.log(correctChoice)
          console.log(player_1.innerText)
          if (player_1.innerText == correctChoice){
            console.log('<%= @counter +=1 %>');
           } else {
            console.log('<%= @counter = 0 %>');
           }
        });

      player2Button.addEventListener("click", (event) => {
          console.log(correctChoice)
          console.log(player_2.innerText)
          if (player_2.innerText == correctChoice){
            console.log('<%= @counter +=1 %>');
           } else {
            console.log('<%= @counter = 0 %>');
           }
        });
  </script>
